/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
*= require application.scss
 */

//  @import "bootstrap";
//  @import "semantic-ui/collections/menu";
//  @import "semantic ui";
//  @import "users";
//  @import "events";
//  @import "sessions";

@import url('https://fonts.googleapis.com/css?family=Charmonman|Rubik|Karla|Space+Mono:700');
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
$breakpoint-desktops: "(min-height:1281px)";
$breakpoint-laptops: "(min-width: 1025px) and (max-width: 1280px)";
$breakpoint-tablets:"(min-width:768px) and (max-width:1024px)";
$breakpoint-phone-large:"(min-width:481px) and (max-width:767px)";
$breakpoint-phone:"(min-width:320px) and (max-width:479px)";
// @media #{$breakpoint-desktops}
// @media #{$breakpoint-laptops} 
// @media #{$breakpoint-tablets} 
// @media #{$breakpoint-phone-large} 
// @media #{$breakpoint-phone} 

// $break-mobile: 599px;
// $break-tablet: 899px;
// $break-lap: 1199px;

* {
    font-family: 'Rubik', sans-serif;
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

html, body {
    // height:100%;
    font-size:1rem;
    line-height: 1.5;
    overflow-x:hidden;
    background-color: #E0E2DB; //original
}

h1, h2{
    font-family: 'Karla', sans-serif;
}

.ui.message {
    margin: 0;
}


//  NAVBAR
#navbar {
    //if not current_user
    .logo {
        padding-top:3px;
        padding-left:5px;
        width:60px;
        height:60px;
    }
    .logo-img {
        width:50px;
        height:50px;
        margin-top:4px;
    }
    .navbar-menu {
        width:100%;
        background:white;
        height:62.5px;
        .item-menu {
            padding-top:5px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .sign-log-button {
        font-size:.8rem;
    }
    .main-button {
        padding:0px 5px !important;
    }
    .logout-btn {
        border:none;
        &:hover {
            cursor:pointer;
        }
    }
    .item-menu {
        padding-bottom:9px;
    }
}


.alert {
    display: inline-block;
}


//FOOTER//

#footer {
    align-items:center;
    width:100%;
    background:#000;
    color: white;
    .envelope {
        color:white;
    }
    p {
        margin:0;
    }
    .icon {
        margin-right:12px;
        @media #{$breakpoint-phone} {            
            margin-right:0px
        }
        @media #{$breakpoint-phone-large} {            
            margin-right:0px;
        }
    }
    .footer-content {
        padding:15px;
        text-align: center;
        p {
            font-size: 1.1rem;
            @media #{$breakpoint-phone} {            
                font-size: 0.8rem;
            }
            @media #{$breakpoint-phone-large} {            
                font-size: 0.8rem;
            }    
        }
    }
    .copyright {
        padding-right:15px;
    }
}