/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  @import "bootstrap";
// @import "semantic-ui/collections/menu";
//  @import "semantic ui"
//  @import "users";
//  @import "events";
//  @import "sessions";
//  * {
//     box-sizing: border-box;
//     padding: 0;
//     margin: 0 auto;
// }

// HEADER
// #home {
//     width: 100%;
//     position: relative;
//     margin: 0 auto;
// }

// .navbar {
//     width: 100%;
//     margin: 0;
//     background-color: black;
// }
// .nav-link {
    //     color: 	#17a2b8;
    //     &:hover {
        //         color:#17a2b8;
        //     }
        // }
        
        // .submitLink {
            //     background-color: transparent;
            //     border: none;
            //     color: 	#17a2b8;
            //     cursor: pointer;
            // }
@import url('https://fonts.googleapis.com/css?family=Arimo:700|Rubik');
//  HEADER
.ui.inverted.segment {
    margin: 0;
    border-radius: 0;
    .item:hover {
        text-decoration: underline;
        text-decoration-color: red;
    }
    .pointing.menu {
        padding:0;
    }
    a {
        font-size: large;
    }
}
// END-HEADER

.alert {
    display: inline-block;
}

body {
    font-family: 'Rubik', sans-serif;
}
