// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require_self
*/

// body {
//     background-image: url("airplan.jpeg");
//     background: no-repeat;
//     background-size: cover;

// }

// img {
//     height:100px;
//     width:100px;
//     background-image: url("baseball.jpg");
//     background: no-repeat;
//     background-size: cover;

// }
// .header {
//     width: 100%;
//     height: 30vh;
//     background: #f0f0f0;
// }

// h1 {
//     text-align: center;
// }


$breakpoint-desktops: (min-height:1281px);
$breakpoint-laptops: (min-width: 1025px) and (max-width: 1280px);
$breakpoint-tablets:"(min-width:768px) and (max-width:1024px)";
$breakpoint-phone-large:"(min-width:481px) and (max-width:767px)";
$breakpoint-phone:"(min-width:320px) and (max-width:479px)";
// $breakpoint-desktops: "(min-height:1281px)";
// $breakpoint-laptops: "(min-width: 1025px) and (max-width: 1280px)";
// $breakpoint-tablets:"(min-width:768px) and (max-width:1024px)";
// $breakpoint-phone-large:"(min-width:481px) and (max-width:767px)";
// $breakpoint-phone:"(min-width:320px) and (max-width:479px)";
// @media #{$breakpoint-desktops}
// @media #{$breakpoint-laptops} 
// @media #{$breakpoint-tablets} 
// @media #{$breakpoint-phone-large} 
// @media #{$breakpoint-phone} 

$break-mobile: 599px;
$break-tablet: 899px;
$break-lap: 1199px;

#wrapper {
    min-height:calc(100vh - 62.5px - 56px);
}


input, textarea, select{
    opacity: 0.9;
}


table {
    border-collapse: separate;
}


th {
    text-align: center;
}


#instate_events {
    .instate-wrapper {
        padding: 2em 3rem;
        background-color:#E0E2DB
    }   
    .left-name {
        float:left;
        margin-left:16px;
    }     
    .animated-td {
        width:363px;
        text-align: center;
    }
    .action-btn {
        display:inline-block;
        justify-content: center;
        margin:3px 0;
        // @media #{$breakpoint-tablets} {
        //     // text-align: center;
        //     // margin:3px 0;
        // }
    }
    .animated-green-btn {
        margin-bottom:3px;
    }
    .edit-button {
        color: white;
        &:hover {
            text-decoration: none;
            color: white;
        }
    }    
}


#outstate_events {
    .outstate-wrapper {
        padding: 2em 3em;
        background-color:#E0E2DB;
    }
    .left-name {
        float:left;
        margin-left:16px;
    } 
    .animated-td {
        width:363px;
        text-align:center;
    }
    .action-btn {
        display:inline-block;
        margin:3px 0;
        justify-content: center;
        // @media #{$breakpoint-tablets} {
        //     text-align: center;
        // }
    }
    .action-btn-edit {
        @media #{$breakpoint-tablets} {
            margin-left:6px
        }
        @media #{$breakpoint-phone-large} {
            margin-left:6px
        }
        @media #{$breakpoint-phone} {
            margin-left:6px
        }
    }
    .animated-green-btn {
        margin-bottom:3px;
    }
    .edit-button {
        color: white;
        &:hover {
            text-decoration: none;
            color: white;
        }
    }
}

#add_event {
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('wine.jpg');
    .add-event-form {
        padding:2rem;
        label {
            color:white;
        }
        input {
            margin-bottom:10px;
        }
        .dropdown {
            margin:0px;
            height:43px;
        }
    }
    // .event-div {
    //     width: 100%;
    //     overflow-x: hidden;
    // }    
    // .add-event-form {
    //     // padding: 5em;
    //     // padding-bottom: 2em;
    // }    
    // .ui.form.add-event {
    //     padding: 5em;
    //     padding-bottom: 2em;
    // }    
}

#attendee {
    .ui.horizontal.divider {
        margin:3rem 0;
    }
}

        @media #{$breakpoint-phone-large} {
            #tr-name-location {
                display:none !important;
            }
        }
        @media #{$breakpoint-phone} {
            #tr-name-location {
                display:none !important;
            }    
        }


#card-msg {
    padding:5rem 0;
    #msg-submit {
        padding:0px;
        &:hover {
            text-decoration: none;
        }
    }
    .card-container {
        @media #{$breakpoint-phone-large} {
            width:100% !important;
        }
        @media #{$breakpoint-phone}  {
                width:100% !important;
        }
    }
    .msg-container {
        @media #{$breakpoint-phone-large} {
            width:100% !important;
        }
        @media #{$breakpoint-phone}  {
                width:100% !important;
        }
    }
}

.event-wrapper {
    margin-bottom: 3em;
}


.ui.violet.button {
    width: 110px;
    height: 45px;
    margin: auto 0;
    font-size: 1rem;
    padding: 0;
}


.ui.fluid.dropdown {
    height: 36px;
    margin-top: 23px;
}


.ui.mini.modal.header {
    padding: 0;
    margin: 0;
}


.ui.modal {
    .header {
        height:8vh;
    }
}



.ui.edit-wrapper {
    background-image: url('../assets/hike.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}


.ui.container.edit-event {
    padding-top:2em;
}




.ui.form.edit-form {
    padding-bottom: 3em;
}



.ui.horizontal.divider {
    color:red;
    margin: 3em 0;
}


.ui.icon-edit:hover {
    text-decoration: none;
}



.list {
    list-style: none;
}

#card-header {
    display: inline;
    background-color: white;
}


.ui.inverted.vertical.footer {
    padding: 1em;
}


.ui.contact-icon {
    margin: 0 8px;
}


.ui.comments {
    overflow: auto;
    height: 400px;
}


.form-textarea {
    margin:0;
}


.mobile-hidden {
    @media only screen and (max-width: 767px) {
        visibility: hidden !important;
        display: none;
        width:0;
        height:0;
    }
}


.event-location {
    visibility: hidden;
    @media only screen and (max-width: 767px) {
        visibility:visible;
        text-align: center;
        font-weight: bolder;
    }
}

// .ui.card {
//     .content {
//         .header {
//             display:inline;
//         }
//     }
// }
// .event-show {
//     font-size: 1.28571429em;
// }
// thead {
//     @media screen {
        
//     }
// }
