/*
 *= require_self
*/
#wrapper {
  min-height: calc(100vh - 62.5px - 56px);
}

input, textarea, select {
  opacity: 0.9;
}

table {
  border-collapse: separate;
}

th {
  text-align: center;
}

#instate_events .instate-wrapper {
  padding: 2em 3rem;
  background-color: #E0E2DB;
}

#instate_events .left-name {
  float: left;
  margin-left: 16px;
}

#instate_events .animated-td {
  width: 363px;
  text-align: center;
}

#instate_events .action-btn {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3px 0;
}

#instate_events .animated-green-btn {
  margin-bottom: 3px;
}

#instate_events .edit-button {
  color: white;
}

#instate_events .edit-button:hover {
  text-decoration: none;
  color: white;
}

#outstate_events .outstate-wrapper {
  padding: 2em 3em;
  background-color: #E0E2DB;
}

#outstate_events .left-name {
  float: left;
  margin-left: 16px;
}

#outstate_events .animated-td {
  width: 363px;
  text-align: center;
}

#outstate_events .action-btn {
  display: inline-block;
  margin: 3px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #outstate_events .action-btn-edit {
    margin-left: 6px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #outstate_events .action-btn-edit {
    margin-left: 6px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  #outstate_events .action-btn-edit {
    margin-left: 6px;
  }
}

#outstate_events .animated-green-btn {
  margin-bottom: 3px;
}

#outstate_events .edit-button {
  color: white;
}

#outstate_events .edit-button:hover {
  text-decoration: none;
  color: white;
}

#add_event {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("wine.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("wine.jpg");
}

#add_event .add-event-form {
  padding: 2rem;
}

#add_event .add-event-form label {
  color: white;
}

#add_event .add-event-form input {
  margin-bottom: 10px;
}

#add_event .add-event-form .dropdown {
  margin: 0px;
  height: 43px;
}

#attendee .ui.horizontal.divider {
  margin: 3rem 0;
}

@media (min-width: 481px) and (max-width: 767px) {
  #tr-name-location {
    display: none !important;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  #tr-name-location {
    display: none !important;
  }
}

#card-msg {
  padding: 5rem 0;
}

#card-msg #msg-submit {
  padding: 0px;
}

#card-msg #msg-submit:hover {
  text-decoration: none;
}

@media (min-width: 481px) and (max-width: 767px) {
  #card-msg .card-container {
    width: 100% !important;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  #card-msg .card-container {
    width: 100% !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #card-msg .msg-container {
    width: 100% !important;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  #card-msg .msg-container {
    width: 100% !important;
  }
}

.event-wrapper {
  margin-bottom: 3em;
}

.ui.violet.button {
  width: 110px;
  height: 45px;
  margin: auto 0;
  font-size: 1rem;
  padding: 0;
}

.ui.fluid.dropdown {
  height: 36px;
  margin-top: 23px;
}

.ui.mini.modal.header {
  padding: 0;
  margin: 0;
}

.ui.modal .header {
  height: 8vh;
}

.ui.edit-wrapper {
  background-image: url("../assets/hike.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ui.container.edit-event {
  padding-top: 2em;
}

.ui.form.edit-form {
  padding-bottom: 3em;
}

.ui.horizontal.divider {
  color: red;
  margin: 3em 0;
}

.ui.icon-edit:hover {
  text-decoration: none;
}

.list {
  list-style: none;
}

#card-header {
  display: inline;
  background-color: white;
}

.ui.inverted.vertical.footer {
  padding: 1em;
}

.ui.contact-icon {
  margin: 0 8px;
}

.ui.comments {
  overflow: auto;
  height: 400px;
}

.form-textarea {
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .mobile-hidden {
    visibility: hidden !important;
    display: none;
    width: 0;
    height: 0;
  }
}

.event-location {
  visibility: hidden;
}

@media only screen and (max-width: 767px) {
  .event-location {
    visibility: visible;
    text-align: center;
    font-weight: bolder;
  }
}
/*# sourceMappingURL=events.css.map */