// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require_self
*/
$breakpoint-desktops: "(min-height:1281px)";
$breakpoint-laptops: "(min-width: 1025px) and (max-width: 1280px)";
$breakpoint-tablets:"(min-width:768px) and (max-width:1024px)";
$breakpoint-phone-large:"(min-width:481px) and (max-width:767px)";
$breakpoint-phone:"(min-width:320px) and (max-width:479px)";
// @media #{$breakpoint-desktops}
// @media #{$breakpoint-laptops} 
// @media #{$breakpoint-tablets} 
// @media #{$breakpoint-phone-large} 
// @media #{$breakpoint-phone} 

$break-mobile: 599px;
$break-tablet: 899px;
$break-lap: 1199px;

body {
    background-color: #CDD3D5;
}

#wrapper {
    min-height:calc(100vh - 65px - 56px);  //calc the min-height of the property where vh - 64px(nav, header, etc elements), and footer element(58px). Sets so that if the content is smaller than the min. height, min height will be applied, otherwise min-height will not be applied
    display:flex;
    justify-content: center;
    align-items: center;
}


.main-container {
    margin:2rem 2rem 3rem;
}


.ui{
    .image {
        display:inline-block;
        max-width: 100%;
    }
    .button.animation {
        background: transparent;
        margin-top: 10px;
        &:hover {
            background: transparent;
        }
    }
    .field {
        padding: 10px 0;
    }
}


.form-fields {
    text-align:center; 
}


.session-form {
    width:600px;
    height:400px;
    padding:1rem;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}