// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.welcome-wrapper {
    position: relative;
}
@import url('https://fonts.googleapis.com/css?family=Charmonman|Rubik');
// font-family: 'Rubik', sans-serif;
.welcome-wrapper {
    background-image: url("hawaii.jpg");
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("hawaii.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ui.container {
    background: transparent;
    // top: 50%;
    // left: 10%;
    .edit {
        text-align: center;
    }
}

h1 {
    text-align: right;
    font-size: 3rem;
    padding: 3rem 10rem;
    
}

.ui.fluid.dropdown {
    height: 40px;
}

.ui.form {
    .field>label {
    color: white;
    }
    .checkbox label {
        font-size: 1.1em;
        color: white;
    }
    a {
        font-size: bolder;
        color: aqua;
        font-size: 1.2em;
    }
}

.ui.checkbox label {
    font-family: 'Arimo', sans-serif;
}

