// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require_self
*/
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");

$breakpoint-desktops: "(min-height:1281px)";
$breakpoint-laptops: "(min-width: 1025px) and (max-width: 1280px)";
$breakpoint-tablets:"(min-width:768px) and (max-width:1024px)";
$breakpoint-phone-large:"(min-width:481px) and (max-width:767px)";
$breakpoint-phone:"(min-width:320px) and (max-width:479px)";
// @media #{$breakpoint-desktops}
// @media #{$breakpoint-laptops} 
// @media #{$breakpoint-tablets} 
// @media #{$breakpoint-phone-large} 
// @media #{$breakpoint-phone} 

$break-mobile: 599px;
$break-tablet: 899px;
$break-lap: 1199px;

#wrapper {
    min-height:calc(100vh - 65px - 56px);  //calc the min-height of the property where vh - 64px(nav, header, etc elements), and footer element(58px). Sets so that if the content is smaller than the min. height, min height will be applied, otherwise min-height will not be applied
}

#header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("hawaii2.jpg");
    height:80vh;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    position:relative;
    @media #{$breakpoint-phone} {
       height:50vh;
    }
}

.header-content {
    text-align: center;
    display:inline-block;
    width:100%;
    top:40%;
    position:absolute;
    color:white;
    padding:0 2rem;
    h1 {
        font-size:3.5em;
        font-family: "Nunito", sans-serif;;
    }
    p {
        font-size:1.8em;
    }
}

.signup-form {
    padding:4rem;
    .ui.fluid.dropdown {
        height: 41px;
        margin-top:27px;
    }
    .submit-btn {
        padding-top:15px;
    }
}


.ui.form {
    .field {
        margin:0px;
    }
    a {
        font-size: bolder;
        color: rgb(0, 196, 196);
        font-size: 1.2em;
    }
}

.list {
    list-style: none;
}

#edit-user {
    .edit-form {
        padding:120px 2rem 100px;
        label {
            margin-top:2.5rem;
        }
    }
    .cancel-edit-btn {
        color:#fff;
        font-size:1rem;
    }
}