// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("baseball.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

.container {
    margin-top: 10rem;
}
h1 {
    color:white;
}

.form-group select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}